@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #241f34;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(145,107,222);
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 50ms ease-out;
}
#back-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(224, 209, 200);
    /* background: linear-gradient(90deg, rgba(255,218,198,1) 0%, rgba(204,179,255,1) 100%); */
}
.logo:hover {
    filter: drop-shadow(0 0 2em #595b9eaa);
}